{% extends "template.html" %}

{% block container %}
  <h1>credentials</h1>

  <ul>
    <li>username: {{ username }}</li>
  </ul>

  <hr>
  <p>
    <form action="/credentials" method="POST">
      <lable>Username</lable><input type="text" name="username" placeholder="username"><br>
      <label>Password</lable><input type="password" name="password" placeholder="password"><br>
      <label>Active</lable><input type="checkbox" name="active" selected>
      <input type="submit" value="Add Credentials">
    </form>
  </p>
  <hr>

  {% if all %}
    <hr>
    {% for i in all %}
    <ul>
      <li>username: {{ i.username }}</li>
    </ul>
    {% endfor %}
  {% endif %}

  <hr>
  {% for i in devices %}
    <ul>
      {% if i.5 == "ATTD" %}
        <li><a href="/page/{{ i.1 }}" target="_blank">{{ i.2 }}</a></li>
      {% else %}
        <li>{{ i.2 }}</li>
      {% endif %}
    </ul>
  {% endfor %}
  </hr>

{% endblock %}


{% block footer %}
  <div id='footer'>
    <span>
        <a href="{{ admin_url }}">{{ admin_url_text }}</a>
    </span>
  </div>
{% endblock %}
