{% extends "template.html" %}

{% block container %}
        <h1>Eagle Eye Networks API Sample</h1>

        <p>
          This project will help you configure Google App Engine to pull images
          from the Eagle Eye Networks and serve them on your webpage.  This
          server is a proxy to the actual iamges and allows you to publicly embed
          them.
        </p>
        <p>
          If you are the admin, log in below.
        </p>
{% endblock %}


{% block footer %}
      <div id='footer'>
        <span>
            <a href="{{ admin_url }}">{{ admin_url_text }}</a>
        </span>
      </div>
{% endblock %}
