{% extends "template.html" %}

{% block container %}
  <div id="preview"></preview>
{% endblock %}


{% block footer %}
  <div id='footer'>
    <span>
        <a href="{{ admin_url }}">{{ admin_url_text }}</a>
    </span>
  </div>
{% endblock %}


{% block scripts %}
  <script src="/js/jquery.preview.js"></script>
  <script>
      $(document).ready(function() {
          $('#preview').cameraPreview({ 'camera_id': '{{ camera_id }}', 'width': 640, 'height': 360, 'delay': 1000, 'debug': true });
      });
  </script>
{% endblock %}
