
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title>Eagle Eye Networks API Sample</title>
        <link href="/css/style.css" type="text/css" rel="stylesheet">

  </head>
  <body>

    {% block container %}{% endblock %}

    {% block footer %}{% endblock %}


    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    {% block scripts %}{% endblock %}

<!-- Keep scripts at the bottom of the page -->

  </body>
</html>
